# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
.vscode/
/__pycache__/
__pycache__/
*.pyc

# Ignorar archivos compilados
bin/
obj/


.vs/

database.sqlite

/myenv/

*/myenv/

myenv/

**/myenv/

# Archivos de configuración de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración de editor
.vscode/
.idea/

# Docker
*.pid
*.seed
*.tar
*.bak
*.swp
.dockerignore

# Archivos de compilación
build/
dist/
*.egg-info/

# SQLite u otras bases locales (si aplica)
*.sqlite3

# Archivos de configuración sensibles
.env.local
.env.*

# Carpetas específicas para pruebas o ejecución local
*.db

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
